@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: hsl(100, 9%, 7%);
    --darkgray: hsl(110, 5%, 24%);
    --greenhaze: hsl(155, 99%, 29%);
    --graygreen:hsl(141, 6%, 44%);
    --lightgraygreen: hsl(139, 9%, 61%);
    --gray: hsl(0, 0%, 77%);
    --lightgray:hsl(0, 0%, 95%);
    --apricot: hsl(29, 61%, 67%);
    --lightapricot: hsl(38, 100%, 82%);

}

nav {
    position: relative;
    z-index: 1;
}
.navbar {
    align-items: center;
    height: 6em;
    justify-content: right;
    padding-inline-end: max(5vw,1em);
}
.flex {
    display: flex;
}
.bg-photo {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -10;
}
.bg-photo img {
    object-fit: cover;
    height: 100%;
    object-position: -13em;
}