@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --black: hsl(100, 9%, 7%);
    --darkgray: hsl(110, 5%, 24%);
    --greenhaze: hsl(155, 99%, 29%);
    --graygreen:hsl(141, 6%, 44%);
    --lightgraygreen: hsl(139, 9%, 61%);
    --gray: hsl(0, 0%, 77%);
    --lightgray:hsl(0, 0%, 95%);
    --apricot: hsl(29, 61%, 67%);
    --lightapricot: hsl(38, 100%, 82%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Risque', cursive;*/
}
.top {
    position: absolute;
    top: 0;
}
.flex {
    display: flex;
}
#homepg, #about, #portfolio, #contact {
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}
#about, #portfolio {
    z-index: -3;
}
.mobile {
    display: block;
}
.desktop {
    display: none;
}
@media (min-width: 768px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}

/* NAVBAR */

nav {
    position: relative;
    z-index: 1;
}
.navbar {
    align-items: center;
    height: 6em;
    justify-content: right;
    padding-inline-end: max(5vw,1em);
}

/* PAGE COUNTER  */

.page-counter {
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
}
.page-counter-holder {
    flex-direction: column;
    align-items: center;
}
.page-line {
    height: 5em;
    width: 1px;
}
.page-nr {
    color: white;
    font-size: 0.75rem;
    font-family: 'Risque', cursive;
    padding: 1em;
}
.page-nr::before {
    content: '0';
}
.gallery-counter {
    justify-content: center;
    align-items: flex-end;
}
.gallery-counter .page-counter-holder {
    flex-direction: row;
}
.gallery-counter .page-line {
    height: 1px;
    width: 5em;
}

@media (min-width: 500px) {
    .page-nr {
        font-size: 1rem;
        padding: 1em 1.5em;
    }
}
@media (min-width: 768px) {
    .page-nr {
        font-size: 1.125rem;
    }
}

/* HOME PAGE - DESIGN */

.bg-home {
    height: 100%;
    width: 100%;
    z-index: -10;
    background-image: url(img/home.png);
    background-position: -13em;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}
.header-holder {
    justify-content: center;
}
.header {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
}
.header h1, .header p {
    text-transform: uppercase;
    font-weight: bold;
}
.header h1 {
    font-size: min(23vw , 12rem);
    color: var(--graygreen);
    letter-spacing: 4px;
    line-height: min(22vw, 1em);
}
.header p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: min(3.5vw , 1.25rem);
    color: var(--lightgraygreen);
    letter-spacing: 2px;
    padding-inline-start: min(1.25vw , 12px);
}
.btn-holder {
    margin-top: min(3em,7vh);
}
.action-btn {
    background-color: var(--greenhaze);
    display: inline-block;
    border: 0;
    color: white;
}
.shadow-btn, .action-btn {
    padding: 0.75em;
    display: inline-block;
    font-size: min(1.75rem,10vh);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0.75em;
}
.shadow-btn {
    color: transparent;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    z-index: -1;
    margin-inline-start: -5.375em;
    margin-block-start: -0.125em;
}
.home-btn {
    margin-inline-start: min(1.25vw , 15px);
}

@media (min-width: 500px) {
    #homepg, #about, #portfolio, #contact {
        min-height: 750px;
    }
    .bg-home {
        right: 0;
        width: 75%;
    }
    .action-btn, .shadow-btn {
        font-size: 2rem;
        padding: 0.75em;
    }
}
@media (min-width: 768px) {
    .bg-home {
        background-position: -5em;
    }
    .header h1 {
        letter-spacing: 10px;
    }
    .header p {
        padding-inline-start: 4em;
        letter-spacing: 0.15em;
        line-height: 1.5rem;
    }
    .btn-holder {
        position: absolute;
        bottom: 243px;
    }
    .action-btn {
        font-size: 2.5rem;
        padding: 0.75em;
    }
    .home-btn {
        width: 243px;
        margin-inline-start: 0;
    }
}
@media (min-width: 992px) {
    .bg-home {
        background-position: 0;
    }
    .header-holder {
        justify-content: flex-start;
        padding-left: 8em;
    }
}

/* HOME PAGE - SOCIAL MEDIA CONTAINER GRID */

.sm-container {
    width: 30vh;
    height: 30vh;
    background-color: var(--lightgray);
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "socials-grid light-green-square dark-square"
        "socials-grid . light-gray-square"
        "socials-grid . ."; 
}
.light-green-square { 
    grid-area: light-green-square; 
    background-color: var(--lightgraygreen);
}
.dark-square { 
    grid-area: dark-square; 
    background-color: var(--darkgray);
}
.light-gray-square { 
    grid-area: light-gray-square; 
    background-color: var(--gray);
}
.socials-grid { 
    grid-area: socials-grid; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0;
}
.socials-grid img {
    width: 40%;
}
.grid-desktop {
    display: none;
    width: 162px;
    height: 243px;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
    "light-green-square dark-square"
    ". light-gray-square"
    ". ."; 
    margin-left: -1px;
}
@media (min-width: 500px) {
    .grid-mobile {  
        position: absolute;
        z-index: -10;
        width: 25%;
        height: 243px;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas:
        "socials-grid ."
        "socials-grid ."
        "socials-grid ."; 
    }
    .grid-desktop {
        display: grid;
    }
    .socials-grid {
        max-width: 81px;
    }
    .socials-grid img {
        width: 2em;
    }
}
/* ABOUT - DESIGN */

#about {
    background-color: var(--black);
} 
.dark-shadow {
    width: 75%;
    height: 75%;
    position: absolute;
    bottom: 0;
    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.5);
    z-index: -2;
}
.header-aboutus {
    display: inline-block;
    margin-inline-end: 8vw;
}
.header-aboutus-holder {
    height: 35em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-about {
    /* background-color: red; */
    display: inline-block;
}
.h-about h2 {
    color: transparent;
    font-weight: 900;
    font-size: 22vw;
    line-height: 17vw;
    text-transform: uppercase;
    text-align: right;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--apricot);
}
.p-about {
    /* background-color: rgb(79, 72, 136); */
    margin-block-start: 2em;
}
.p-about p{
    color: var(--lightapricot);
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.15em;
    line-height: 1.75em;
    text-align: right;
    text-transform: uppercase;
}
.up-photo {
    z-index: -1;
    margin-left: 2em;
    height: 40vh;
}
.down-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 50vh;
    overflow: hidden;
}
.down-photo img, .up-photo img  {
    height: 100%;
}
.about-gallery {
    width: 100%;
    height: 100%;
    z-index: -1;
}
@media (min-width: 500px) {
    .about-gallery {
        width: 90%;
    }
    .up-photo {
        height: max(40vh,17em);
    }
    .down-photo {
        height: 30em;
        background-color: black;
    }
    .down-photo img {
        opacity: 65%;
    }
}
@media (min-width: 768px) {
    .about-gallery {
        width: 45em;
    }
    .down-photo {
        height: 35em;
    }
    .up-photo {
        height: 30em;
    }
    .h-about h2 {
        font-size: 10rem;
        line-height: 7.5rem;
        letter-spacing: 5px;
    }
    .header-aboutus {
        margin-inline-end: 0;
        margin-inline-start: 4em;
    }
}
@media (min-width: 992px) {
    .about-gallery {
        width: 50em;
        margin-left: 10%;
    }
    .down-photo {
        height: 40em;
    }
    .header-aboutus-holder {
        justify-content: left;
        align-items: center;
        margin-inline-start:25vw;
    }
    .dark-shadow {
        height: 80%;
    }
}
@media (min-width: 1400px) {
    .header-aboutus-holder {
        margin-inline-start:40em;
    }
}

/* PORTFOLIO - DESIGN */

#portfolio {
    background-color: var(--graygreen);
}
.header-port-holder {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -2;
}
.header-port-holder h2 {
    padding: 2vw 0;
    text-transform: uppercase;
    font-size: 60vw;
    line-height: 42vw;
    background: linear-gradient(var(--darkgray),var(--graygreen));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media (max-height: 680px) {
    .header-port-holder h2 {
        font-size: 33vh;
        line-height: 23vh;
    }
}
@media (min-width: 500px) {
    .header-port-holder h2 {
        padding: 0.1em 0;
        font-size: 16em;
        line-height: 0.7em;
    }
}
@media (min-width: 992px) {
    .header-port-holder {
        margin-inline-start: 2em
    }
}

/* PORTFOLIO - GALLERY  */

.gallery {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photo-port img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.photo-port, .photo-shadow-white {
    width: min(75vw,25em);
    height: min(75vw,25em);
}
.photo-shadow-white {
    position: absolute;
    margin-inline-start: -10vw;
    margin-block-start: 17.5vw;
    border: 1px solid white;
    z-index: -1;
}
.photo-shadow-yellow {
    position: absolute;
    margin-inline-start: 60vw;
    margin-block-start: 75vh;
    width: 100vw;
    height: 100vw;
    border: 1px solid var(--apricot);
}
.port-title {
    width: min(75vw,25em);
    margin-block-end: 2vh;
    display: flex;
    align-items: center;
}
.title-number {
    font-family: 'Risque', cursive;;
    color: white;
}
.title-text, .title-number {
    font-size: min(3.5vw,1em);
    letter-spacing: 0.05em;
}
.title-text {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--gray);
}
.title-line {
    width: min(7vw,3em);
    border-top: solid 1px white;
    border-bottom: 0;
    margin: 0 2vw;
}
@media (min-width: 500px){
    .photo-shadow-yellow {
        margin-inline-start: 75%;
        margin-block-start: 130%;
    }
}
@media (min-width: 768px) {
    .photo-port, .photo-shadow-white {
        width: min(75vw,46em);
        height: 35em;
    }
    .port-title {
        width: min(75vw,50em);
    }
    .title-text, .title-number {
        font-size: 1.25em;
    }
    .title-line {
        margin: 0 0.5em;
    }
    .photo-shadow-white {
        margin-inline-start: -2em;
        margin-block-start: 9em;
    }
    @media (max-height: 750px) {
        .photo-port, .photo-shadow-white {
            height: 32em;
        }
    }
}
@media (min-width: 992px) {
    .gallery {
        top: -2em;
    }
    .title-text, .title-number {
        font-size: 1.375em;
    }
    .title-number {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .port-title {
        -webkit-transform: rotate(90deg) translate(54%, -1450%);
        -moz-transform: rotate(90deg) translate(54%, -1450%);
        -o-transform: rotate(90deg) translate(54%, -1450%);
        -ms-transform: rotate(90deg) translate(54%, -1450%);
        transform: rotate(90deg) translate(54%, -1450%);
    }
    .photo-shadow-white {
        margin-inline-start: -6em;
    }
}
@media (min-width: 1300px) {
    .port-title {
        -webkit-transform: rotate(90deg) translate(54%, -1630%);
        -moz-transform: rotate(90deg) translate(54%, -1630%);
        -o-transform: rotate(90deg) translate(54%, -1630%);
        -ms-transform: rotate(90deg) translate(54%, -1630%);
        transform: rotate(90deg) translate(54%, -1630%);
    }
    .photo-port, .photo-shadow-white {
        width: 52em;
    }
}

/* CONTACT - DESIGN  */

#contact {
    background-color: var(--darkgray);
    z-index: 0;
}
.bg-contact {
    height: 100%;
    width: 72%;
    z-index: -2;
}
.bg-contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
.nl-holder {
    height: 85vh;
    width: 100%;
}
.header-nl {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: min(13vh,5rem);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-transform: rotate(-90deg) translate(-45%, -220%);
    -moz-transform: rotate(-90deg) translate(-45%, -220%);
    -o-transform: rotate(-90deg) translate(-45%, -220%);
    -ms-transform: rotate(-90deg) translate(-45%, -220%);
    transform: rotate(-90deg) translate(-45%, -220%);
    z-index: -1;
}
.email-box {
    position: relative;
    background-color: black;
    width: 90%;
    height: 5.5em;
    margin-block-start: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.email-input {
    position: absolute;
    background-color: var(--darkgray);
    border: 0;
    padding: 0 1.5rem;
    font-weight: 200;
    color: white;
}
.email-input, .email-shadow{
    width: 80%;
    height: 2.5rem;
}
.email-shadow {
    position: absolute;
    margin-inline-end: -1em;
    margin-block-end: -0.625em;
    border: solid 1px white;
    z-index: -1;
}
.nl-button {
    position: absolute;
    margin-block-end: -5.25em;
    right: 0.375em;
}
.nl-text {
    position: absolute;
    right: 0;
    top: -1.75em;
    font-weight: 300;
    font-size: 0.75rem;
    color: white;
}

@media (min-width: 768px) {
    .email-box {
        height: 7em;
    }
    .email-input {
        font-size: 1em;
        padding: 0 1.5rem;
    }
    .email-input, .email-shadow{
        width: 80%;
        height: 3.25rem;
    }
    .header-nl {
        font-size: 6rem;
    }
    .nl-text {
        font-size: 1rem;
    }
}
@media (min-width: 992px) {
    .email-box {
       margin: auto;
    }
}
/* SOCIALS CONTACT */

.socials-contact {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
    align-items: center;
}
.socials-contact svg {
    height: min(1.75em,4vh);
    width: min(1.75em,4vh);
    margin-block-end: 0.5em;
}
.socials-contact svg:last-child {
    margin-block-end: 0;
}
.svg-icon-contact{
    stroke: white;
    stroke-width: 1.5;
}

/* FOOTER - DESING */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: 200;
    font-size: min(4vw,1em);
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.footer-item {
    padding: 0.25em 1em;
}

@media (min-width: 768px) {
    .footer {
        justify-content: space-around;
        font-size: 1.125em;
    }
    .footer-item {
        padding: 2em 1em;
    }
}