@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    z-index: 1;
}
.navbar {
    align-items: center;
    height: 6em;
    justify-content: right;
    padding-inline-end: max(5vw,1em);
}
.flex {
    display: flex;
}
.bg-photo {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -10;
}
.bg-photo img {
    object-fit: cover;
    height: 100%;
    object-position: -13em;
}